# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Mac junk
.DS_Store

# VS Code
.vscode/

# Benchmark outputs (optional)
pancake-final/results/

# Temporary files
tree.txt